<div class="container">
<h3>Welcome to My Auction Site</h3>
<!-- <p><h3>All Items</h3></p> -->
<ul>
	<% @items.each do|item| %>	
	<li><a href="/items/<%= item.id%>"><%= item.title %></li>
	<% end %>
</ul>

<!-- <p><h3>Active Items</h3></p>

<ol>
	<% @active_items.each do|item| %>
	<li><a href="/items/<%= item.id%>"><%= item.title %></a></li>
	<% end %>
</ol>
</div> -->