<div class="jumbotron">
	<div class="container">

		<p>Welcome to the Blind Auctioneer</p>
      <a class="sign_up" href="/users/new">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Get Started Now</button>
			</a>
			<a class="login" href="/sessions/new"><button class="btn btn-lg btn-primary btn-block" type="submit">Have an Account? Log in</button></a>
	</div>
</div>

<div>
	<div class="container">
		<h3>Click on the links below to see product details</h3>
		<ul class="product-list">
			<% @items.each do|item| %>	
			<li><a href="/items/<%= item.id%>"><%= item.title %></li>
			<% end %>
		</ul>

		<!-- <p><h3>Active Items</h3></p>

		<ol>
			<% @active_items.each do|item| %>
			<li><a href="/items/<%= item.id%>"><%= item.title %></a></li>
			<% end %>
		</ol> -->
	</div>
</div>