<form action="/items" method="post">
<p><input class="input-box" type="text" placeholder="title" name = "title"></input></p>
<p><textarea rows="10" cols="50" type="text" placeholder="description" name = "description"></textarea></p>
<p><input type="text" placeholder="auction start YYYY-MM-DD" name = "auction_start"></input></p>
<p><input type="text" placeholder="auction end YYYY-MM-DD" name = "auction_end"></input></p>
<button class="btn btn-lg btn-primary btn-block" type="submit">Add it</button>
</form>


