<form action="/items" method="post">
<p><input type="text" placeholder="title" name = "title"></input></p>
<p><textarea rows="10" cols="50" type="text" placeholder="description" name = "description"></textarea></p>
<p><input type="text" placeholder="auction start YYYY-MM-DD" name = "auction_start"></input></p>
<p><input type="text" placeholder="auction end YYYY-MM-DD" name = "auction_end"></input></p>
<input type="submit" class="btn btn-lg btn-primary" value="Add it"/>
</form>


