<header class="navbar">
<!--   <a href="/"><img src="https://www.allaboutbirds.org/guide/PHOTO/LARGE/Bobolink-Vyn_060513_0010.jpg" alt text="Bobolink"></a> -->
  
    <% if current_user %>
    <p>  
      <a class="login" href="/">home</a>
      <a class="login" href="/">about</a>
      <!-- <a class="sign_up" href="/">contact</a>   -->
      <a class="login" href="/users/<%= current_user.id %>">Hi, <%= @current_user.username %></a>
      <a class="login" href="/logout">logout</a>
    </p>
    <% else %>
    <p>
      <a class="login" href="/">home</a>  
      <a class="login" href="/">about</a>
      <!-- <a class="sign_up" href="/">contact</a> -->
      <a class="login" href="/sessions/new">log in</a>
      <a class="login" href="/users/new">join</a>
    </p>
    <% end %>
</header>
